body {
    display: flex;
    flex-direction: column;
}
.container1 {
    display: flex;
    flex-direction: row;
}
.container2 {
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: flex-start;
}
#green {
    display: flex;
   
}
#yellow {
    display: flex;
    flex-direction: column;
    width: 25%;
}
#orange {
    display: flex;
    flex-direction: column;
    width: ;
    
    height: 50%;
}
#blue {
    display: flex;
    flex-direction: column;
    width: ;
    height: 50%;
}
#red {
    display: flex;
    flex-direction: column;
    width: 25%;
}