body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#green {
    display: grid;
    grid-column: 1/4;
    grid-row: 1/2;
}
#yellow {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/4;
}
#red {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/4;
}
#orange {
    display: grid;
    grid-column: 1/3;
    grid-row: 4/5;
}
#blue {
    display: grid;
    grid-column: 3/4;
    grid-row: 2/5;
}
#yellow ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#red ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}